html {
    background: #f4f4f4;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 200px;
    font-size: 100%;
    height: 100%;
    color: #333;
}

.clear {
    clear: both;
}

.content {
    height: 100%;
    margin: auto;
    max-width: 1024px;
    text-align: left;
}

.site {
    display: none;
    font-family: 'Alegreya Sans', sans-serif;
    -webkit-font-smoothing:antialiased;
    min-height: 100%;
    text-align: center;
}

.background-gradient {
    z-index: -1;
    position: absolute;
    height: 500px;
    width: 100%;
    left: 0;
    top: 0;
    background: #f4f4f4; /* Old browsers */
    background: -moz-linear-gradient(top, #FFF 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #FFF 0%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #FFF 0%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #FFF 0%,#f4f4f4 100%); /* IE10+ */
}


.header {
    position: absolute;
    background-color: #9a1616;
    left: -135px;
    top: 50px;
    width: 500px;
    box-shadow: 0 4px 3px rgba(51, 51, 51, 0.35);
    -webkit-transform: rotate(-30deg);
}


.header-top {
    background-color: #c92525;
    height: 4px;
    border-bottom: 2px solid #9a1616;
}

.header-bottom {
    background-color: #bc2222;
    height: 4px;
    border-top: 2px solid #9a1616;
}

.header-ribbon {
    background: #c62424; /* Old browsers */
    background: -moz-linear-gradient(top, #c62424 0%, #c02222 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c62424), color-stop(100%,#c02222)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c62424 0%,#c02222 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c62424 0%,#c02222 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #c62424 0%,#c02222 100%); /* IE10+ */
}

.header-ribbon h1 {
    margin: 0;
    text-align: center;
    color: white;
    text-shadow: 0 1px 0 #333;
}

.quote {
    position: relative;
    display: inline-block;
    text-indent: 35px;
    color: #9c9c9c;
    left: 300px;
    max-width: 550px;
    text-shadow: 0 1px 0 #FFF;
}

.quote:before {
    content: "″";
    font-size: 1.5em;
    position: absolute;
    text-indent: -1em;
}

.quote:after {
    content: "″";
    font-size: 1.5em;
    position: absolute;
    text-indent: 0.5em;
}


.posts .post {
    width: 310px;
    float: left;
    margin: 0.5em;
    height: 100px;
}

.post {
    font-size: 1.2em;
    line-height: 1.4em;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

.post-type {
    text-shadow: 0 1px 0 #FFF;
    color: #ce2727;
    font-weight: bold;
    font-size: 0.75em;
}

.post-date, .meta {
    text-shadow: 0 1px 0 #FFF;
    color: #9c9c9c;
}

.post-date {
    padding-right: 0.5em;
    font-size: 0.75em;
}

.post-title {
    font-family: 'Alegreya Sans', sans-serif;
    text-shadow: 0 1px 0 #FFF;
}

a {
    color: #2781ce;
    text-decoration: none;
    font-size: 0.75em;
}

a:hover {
    color: #3a91db;
}


.post-title a {
    font-size: 1.25em;
}

h2 {
    font-weight: normal;
    font-size: 3em;
    margin-top: 0;
    text-shadow: 0 1px 0 #FFF;
}

ul,ol {
    font-size: 1em;
    line-height: 1.4em;
}

.highlight  {
    font-size: 1.2em;
    line-height: 1.2em;
    font-family: Consolas !important;
}

.footer {
    position: absolute;
    padding: 2em;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background: #262626;
    margin-top: 20px;
    box-sizing: border-box;
    height: 180px;
}


.github {
    float: right;
}

.github .img {
    width: 7em;
    height: 7em;
    background-image: url('/assets/img/github.png');
    background-size: cover;
    border-radius: 0.7em;
    float: right;
}

.github .details {
    margin-right: 1em;
    float: right;
    color: #BABABA;
}

.github .details .name {
    font-size: 2em;
    font-weight: bold;
}

.github .details div:not(:first-child) {
    font-size: 1.5em;
}

.profile {
    float: left;
}

.profile .img {
    float: left;
    width: 7em;
    height: 7em;
    background-image: url('/assets/img/me.jpg');
    background-size: cover;
    border-radius: 0.7em;
}

.profile .details {
    margin-left: 1em;
    float: left;
    color: #BABABA;
}
.profile .details div:not(:first-child) {
    float: left;
}

.profile .details div:last-child {
    margin-left: 1em;
}

.profile .details .name {
    font-size: 2em;
    font-weight: bold;
}

@media (max-width: 1200px) { /* Should scale down at 1024px */
    body {
        font-size: 90%;
    }

    .content {
        margin: 0 2em;
    }

    .header {
        left: -165px;
        top: 40px;
    }

    .quote {
        left: 200px;
        margin-top: 40px;
        max-width: 350px;
    }

    .posts .post {
        width: 300px;
        height: 80px;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 70%;
    }

    .header {
        left: -185px;
        top: 20px;
    }

    .quote {
        left: 70px;
        margin-top: 50px;
        max-width: 200px;
        font-size: 1em;
    }

    .highlight  {
        font-size: 0.8em;
        line-height: 1.2em;
    }

    .posts .post {
        float: none;
        width: auto;
        height: auto;
    }

    .post {
        line-height: 1.6em;
    }

    .profile {
        float: none;

    }

    .profile .img {
        width: 5em;
        height: 5em;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .profile .details {
        margin: 0 0 0 1em;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .github {
        margin-top: 2em;
        float: none;
        clear: both;
    }

    .github .img {
        width: 5em;
        height: 5em;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .github .details {
        margin: 0 0 0 1em;
        display: inline-block;
        float: none;
        vertical-align: top;
    }

}
